/* variables and mixins */
input {
  margin: 0;
  padding: .3em;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid rgba(0, 0, 0, 0.35);
  border-radius: .25em;
  background: #FFF;
  box-sizing: border-box;
  box-shadow: none;
  color: inherit;
  text-rendering: optimizeLegibility;
  /* CHECKBOXES AND RADIO BUTTONS */
}
input:not([type="range"]):focus {
  outline: 1px solid rgba(37, 127, 204, 0.15);
  outline-offset: .3em;
}
input[disabled] {
  opacity: .65;
  cursor: not-allowed;
}
input[readonly] {
  text-align: right;
  width: 100%;
}
input::-moz-focus-inner {
  /*Remove button padding in FF*/
  border: 0;
  padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.45);
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: .25em;
  vertical-align: text-bottom;
  color: #257fcc;
  font-size: 1.05em;
  position: relative;
  box-shadow: 0 0.1em 0.25em 0 rgba(255, 255, 255, 0.15) inset;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: rgba(37, 127, 204, 0.15);
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0.5em 0.25em 0 rgba(255, 255, 255, 0.15) inset, 0 0 0.25em 0 rgba(37, 127, 204, 0.5);
  background: rgba(37, 127, 204, 0.15);
}
input[type="radio"]:before,
input[type="checkbox"]:before {
  content: '';
  position: absolute;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled] {
  border-color: rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.1);
}
input[type="radio"][disabled] + label,
input[type="checkbox"][disabled] + label {
  color: rgba(0, 0, 0, 0.45);
  cursor: not-allowed;
}
input[type="radio"]:indeterminate,
input[type="checkbox"]:indeterminate {
  background: rgba(255, 0, 153, 0.15);
}
input[type="radio"] {
  border-radius: 2em;
  -moz-appearance: radio;
}
input[type="radio"]:checked:before {
  background: #257fcc;
  padding: 0;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 1em;
  margin: 0;
}
input[type="checkbox"] {
  border-radius: .2em;
  -moz-appearance: checkbox;
}
input[type="checkbox"]:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 0px solid;
  border-width: 0 0 .225em .225em;
  padding: .15em .4em;
  left: 15%;
  top: -10%;
}
