    input, select, textarea {
        margin:0;
        padding:.3rem;
        font-size:inherit;
        font-family:inherit;
        border:1px solid rgba(#000,.35);
        border-radius:.25rem;
        background:#FFF;
        @include mx-box-sizing(border-box);
        box-shadow:none;
        color:#464649;
        text-rendering: optimizeLegibility;
        &:not([type="range"]) {
            &:focus {
                @include mx-outline();
            }
        }
        &[disabled] {
            opacity:.65;
            cursor: not-allowed;
        }
        &[readonly] {
            text-align:right;
            width:100%;
        }
        &::-moz-focus-inner { /*Remove button padding in FF*/
            border: 0;
            padding: 0;
        }
        &.fill {
            width:100%;
        }
        /* CHECKBOXES AND RADIO BUTTONS */
        &[type="radio"],
        &[type="checkbox"] {
            -webkit-appearance:none; // let firefox have its stubbord UA styles
            appearance:none;
            border: 1px solid rgba(0,0,0,.45);
            width: 1em;
            height: 1em;
            display: inline-block;
            margin-right:.25em;
            vertical-align: middle;
            color:$base-color;
            position:relative;
            box-shadow:0 .1em .25em 0 rgba(#FFF,.15) inset;
            &:checked {
                background:rgba($base-color,.15);
            }
            &:focus {
                outline:none;
                box-shadow:0 .5em .25em 0 rgba(#FFF,.15) inset, 0 0 .25em 0 rgba($base-color,.5);
                background:rgba($base-color,.15);
            }
            &:before {
                content:'';
                position:absolute;
            }
            &[disabled] {
                border-color:rgba(0,0,0,.25);
                background:rgba(0,0,0,.1);
                ~ .label-text {
                    color:rgba(0,0,0,.45);
                    cursor: not-allowed;
                }
            }
        }
        &[type="radio"] {
            border-radius:2em;
            &:checked:before {
                background:$base-color;
                padding:0;
                top:25%;
                left:25%;
                width:50%;
                height:50%;
                border-radius:1em;
                margin:0;
            }
        }
        &[type="checkbox"] {
            border-radius:.2em;
            &:checked:before{
                @include mx-rotate(-45deg);
                border:0px solid;
                border-width:0 0 .225em .225em;
                padding:.15em .4em;
                left:15%;
                top:-10%;
            }
        }
    }
